/* Footer */
.footer {
  background-color: #049393;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
}

.footer-content nav {
  margin-top: 1rem;
}

.footer-content nav a {
  color: rgb(232, 153, 17);
  margin: 0 1rem;
  text-decoration: none;
  transition: var(--transition);
}

.footer-content nav a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }

  .card {
    width: 90%;
  }

  .info-card {
    padding: 1rem;
  }
}
